# Skopiuj jako .env i uzupełnij wartości
FLASK_SECRET_KEY=super-secret-change-me

# Gmail SMTP (użyj App Password przy włączonym 2FA)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=twoj_email@gmail.com
SMTP_PASSWORD=app_password_z_gmail
MAIL_FROM=twoj_email@gmail.com
MAIL_TO_DEFAULT=twoj_email@gmail.com

# Port aplikacji (opcjonalnie)
PORT=3000
